a {
	color: midnightblue; /* because there's lots of links, default blue is too aggressive */
}

a:visited {
	color: purple;
}

body {
	background-color: #F5F5F5;
	font: 17px/1.4 sans-serif;
	margin: 20px 30px;
}

#toc {
	width: 44%;
}

#container {
	display: flex;
	margin-bottom: 25px;
}

#page {
	width: 54%;
}

#page > *:first-of-type {
	margin-top: 0px;
}

.item:first-of-type {
	color: #1A0DAB;
}

h1, h2, h3, h4, b, th {
	font-weight: 500;
}

#preloading-level {
	margin-bottom: 25px;
	text-align: center;
}
#preloading-level a {
	border-radius: 3px;
	padding: 10px 17px;
	margin-right: 5px;
	text-decoration: none;
}

.selected {
	background: #cfcfff;
}

hr {
	border-top: 1px solid #ccc;
	border-bottom: 0;
	margin: 1.25em 0;
}

#divDebug {
	border: 1px solid #CCC;
	border-radius: 3px;
	color: #333;
	font-family: monospace;
	font-size: 16px;
	padding: .5em .8em;
	height: 160px;
	overflow-y: scroll;
}

#divDebug hr {
	margin: .2em 0;
}

#instantclick {
	_display: none;
}
#instantclick-bar {
	_display: none;
}
#instantclick {
	_color: red;
}
/* An underscore before a property name acts like a comment, remove it to enable a declaration. */
